<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> BookBuddies</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="icon" href="image/main_logo.icon" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/tooplate-style.css">
  <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
  <div class="container">
    <header class="tm-site-header">
      <a href="/">
        <h1 class="tm-site-name">
          <img src="image/main_logo.icon" alt="logo" class="main-logo">
          BookBuddies
        </h1>
      </a>
      <p class="tm-site-description">Your Online Bookstore</p>

      <div class="search" ng-controller="searchController">
        <form class="search-form">
          <input type="text" ng-model="searchQuery" placeholder="Search for books, authors, categories and more.."
            class="sinput">
          <a href="#!/search">
          <button type="submit" value="Submit" ng-click="searchBooks()">Submit</button></a>
        </form>
      </div>

      <!-- <nav class="navbar navbar-expand-md tm-main-nav-container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tmMainNav" aria-controls="tmMainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse tm-main-nav" id="tmMainNav">
                <ul class="nav nav-fill tm-main-nav-ul">
                    <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Catalogs</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Awards</a></li>
                    <li class="nav-item"><a class="nav-link" href="team.html">Our Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
                </ul>
            </div> 
        </nav> -->

    </header>

    <div ng-view></div>


    <footer>
      Developed by BookBuddies Team 📚
    </footer>
  </div>


  <!-- <script src="/app/js/jquery-1.11.3.min.js"></script>          
 <script src="/app/js//popper.min.js"></script>               
 <script src="/app/js//bootstrap.min.js"></script>            
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script> -->

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="./services//services.js"></script>
  <script src="./controllers/recommendedBooksController.js"></script>
  <script src="./controllers/bookDetailsController.js"></script>
  <script src="./controllers/searchController.js"></script>
  <script src="core/version/version.js"></script>
  <script src="core/version/version-directive.js"></script>
  <script src="core/version/interpolate-filter.js"></script>


</body>

</html>