<div class="tm-main-content no-pad-b">
    <section class="row tm-item-preview">
        <div class="col-md-6 col-sm-12 mb-md-0 mb-5">
            <img src="{{book.coverImage}}" alt="book-Image" class="img-fluid tm-img-center-sm" />
        </div>
        <div class="col-md-6 col-sm-12">
            <h2 class="tm-blue-text tm-margin-b-p">{{book.title}}</h2>
            <p class="tm-margin-b-p">
                {{book.description}}
            </p>
            <p class="tm-blue-text tm-margin-b-s">
                Author: <span class="tm-blue-text" ng-repeat="author in book.authors">{{ author }}</span>
            </p>
            <p class="tm-blue-text tm-margin-b-s">
                Categories: <span class="tm-blue-text" ng-repeat="category in book.categories">{{ category }}</span>
            </p>
            <p class="tm-blue-text tm-margin-b-s">Pages: {{book.pageCount}}</p>
            <p class="tm-blue-text tm-margin-b" >
                Rating: <img ng-repeat="rating in ratings" src="image/star.png" alt="Star image" />
                <!-- <img src="image/star.png" alt="Star image" />
                <img src="image/star.png" alt="Star image" />
                <img src="image/star.png" alt="Star image" /> -->
            </p>
            <a href="#" class="tm-btn tm-btn-gray tm-margin-r-20 tm-margin-b-s">Preview</a><a href="#"
                class="tm-btn tm-btn-blue">Download</a>
        </div>
    </section>

    
</div>