<div class="tm-main-content">
    <section class="tm-margin-b-l">
        <!-- <header>
            <h2 class="tm-main-title">Recommended for you</h2>
        </header> -->

        <div class="tm-gallery">
            <div class="row">

                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"
                    ng-repeat="searchedBook in searchedBooks">
                    <a href="#!/details/{{searchedBook.id}}">
                        <div class="tm-gallery-item-overlay"  ng-click="onBookSelect(searchedBook)">
                            <img src="{{searchedBook.coverImage}}" alt="Image" class="img-fluid tm-img-center">
                        </div>

                        <p class="tm-figcaption">{{searchedBook.title}}</p>
                    </a>
                </figure>

            </div>

            <div ng-if="!searchedbooks">
                <h1>Loading...</h1>
            </div>
        </div>

        <!-- <nav class="tm-gallery-nav">
        <ul class="nav justify-content-center">
          <li class="nav-item"><a class="nav-link" href="#">1</a></li>
          <li class="nav-item"><a class="nav-link" href="#">2</a></li>
          <li class="nav-item"><a class="nav-link" href="#">3</a></li>
          <li class="nav-item"><a class="nav-link" href="#">4</a></li>
        </ul>
      </nav> -->
    </section>
</div>