<div class="tm-main-content">
    <section class="tm-margin-b-l">
 
        <div class="tm-gallery">
            <div class="row">
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item"
                    ng-repeat="searchedBook in searchedBooks">
                    <a href="#!/details/{{searchedBook.id}}">
                        <div class="tm-gallery-item-overlay"  ng-click="onBookSelect(searchedBook)">
                            <img src="{{searchedBook.coverImage}}" alt="Image" class="img-fluid tm-img-center">
                        </div>

                        <p class="tm-figcaption">{{searchedBook.title}}</p>
                    </a>
                </figure>
            </div>

            <div ng-if="!searchedbooks">
                <h1>Loading...</h1>
            </div>

        </div>
    </section>
</div>